@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.2;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
